@tailwind base;
@tailwind components;
@tailwind utilities;




button {
    background: #FFD700;
    color: black;
    font-weight: 600;
    font-size: small;

}

.card {
    /* background: linear-gradient(to bottom right, #001F3F, #1A365D); */

    background: #001F3F
}